In [1]:
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

import pandas as pd
pd.options.display.max_columns = 100

from matplotlib import pyplot as plt
import numpy as np

import seaborn as sns
sns.set(rc={'figure.figsize':(12,9)})
import pylab as plot
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss,accuracy_score

In [2]:
from xgboost import XGBClassifier
import xgboost as xgb

In [3]:
#for scaling
from sklearn.preprocessing import StandardScaler

Importing training dataset

In [4]:
data = pd.read_csv('./train.csv')

In [5]:
print(data.shape)

(867873, 10)

In [6]:
data.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y', 'Id'],
      dtype='object')

Splitting the "Dates" into date and time

In [7]:
df=data
datetime=df.Dates.str.split(pat=" ",expand=True)
datetime.columns=['Date','Time']
#datetime

In [8]:
Date=datetime.Date.str.split(pat="-",expand=True)
Date.columns=['Year','Month','Day']

Time=datetime.Time.str.split(pat=":",expand=True)
Time.columns=['Hour','Minute','Second']

Dropping the column of "Dates" and appending the dataframe "datetime"

In [10]:
df=pd.concat([df,Date,Time],axis=1)
#df

In [11]:
df=df.drop(labels=['Dates'],axis=1)

# #Encoding

In [12]:
df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'PdDistrict', 'Resolution',
       'Address', 'X', 'Y', 'Id', 'Year', 'Month', 'Day', 'Hour', 'Minute',
       'Second'],
      dtype='object')

LabelEncoding of "DayOfWeek" and "PdDistrict"

In [13]:
le = preprocessing.LabelEncoder()

In [14]:
#y=pd.get_dummies(df.Category,columns=['Category'],prefix=" ",prefix_sep=" ",drop_first=True,)

le_res=le.fit_transform(df['Category'])
y=pd.DataFrame(le_res)
y.columns=['Category']
#y

# Address splitting

In [15]:
address=pd.DataFrame(df['Address'],columns=['Address'])
address=address.Address.str.split(pat=" / ",expand=True )
address.columns=['Intr1','Intr2']

In [16]:
df=df.drop(labels=['Address'],axis=1)

In [17]:
temp=address['Intr1'].astype(str).str[-2:]
New_Address=pd.DataFrame(temp)
df=pd.concat([New_Address,df],axis=1)
#df

In [18]:
Id=df['Id']
df=df.drop(['Descript','Resolution','Id','Minute','Second'],axis=1)

In [19]:

#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['DayOfWeek'])

Label Encoding :DayOfWeek

In [20]:

le_res
Day=pd.DataFrame(le_res)
Day.columns=['DayOfWeek']
df=df.drop(labels=['DayOfWeek'],axis=1)

In [21]:
df=pd.concat([Day,df],axis=1)

In [22]:
data['PdDistrict'].unique()

array(['MISSION', 'SOUTHERN', 'BAYVIEW', 'CENTRAL', 'INGLESIDE',
       'NORTHERN', 'RICHMOND', 'TARAVAL', 'TENDERLOIN', 'PARK'],
      dtype=object)

In [23]:
df.columns

Index(['DayOfWeek', 'Intr1', 'Category', 'PdDistrict', 'X', 'Y', 'Year',
       'Month', 'Day', 'Hour'],
      dtype='object')

Label Encoding: PdDistrict

In [24]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['PdDistrict'])
District=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
District.columns=['District']
df=df.drop(labels=['PdDistrict'],axis=1)
df=pd.concat([District,df],axis=1)

Label encoding : Address

In [25]:
le_res=le.fit_transform(df['Intr1'])
Address=pd.DataFrame(le_res)
Address.columns=['Address']
df=df.drop(labels=['Intr1'],axis=1)
df=pd.concat([Address,df],axis=1)

In [26]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Year'])
Year=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Year.columns=['Year']
df=df.drop(labels=['Year'],axis=1)
df=pd.concat([Year,df],axis=1)

In [27]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Month'])
Month=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Month.columns=['Month']
df=df.drop(labels=['Month'],axis=1)
df=pd.concat([Month,df],axis=1)

In [28]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Day'])
Day=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Day.columns=['Day']
df=df.drop(labels=['Day'],axis=1)
df=pd.concat([Day,df],axis=1)

In [29]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Hour'])
Hour=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Hour.columns=['Hour']
df=df.drop(labels=['Hour'],axis=1)
df=pd.concat([Hour,df],axis=1)

In [30]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Category'])
Category=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Category.columns=['Category']
df=df.drop(labels=['Category'],axis=1)
df=pd.concat([Category,df],axis=1)

# Plots

In [32]:
df

,Category,Hour,Day,Month,Year,Address,District,DayOfWeek,X,Y
0,27,17,27,5,10,21,3,0,-122.419331,37.762264
1,17,2,18,1,1,21,7,4,-122.411340,37.781271
2,13,0,13,10,4,21,7,6,-122.403405,37.775421
3,24,18,26,11,4,4,0,4,-122.404715,37.730161
4,21,17,8,8,9,21,7,3,-122.405239,37.785265
5,34,6,13,4,11,21,3,6,-122.418405,37.766760
6,4,23,8,7,3,13,1,6,-122.404651,37.790442
7,30,12,15,10,9,21,2,0,-122.410871,37.737526
8,21,23,4,1,4,21,0,1,-122.405911,37.732964
9,7,7,6,1,3,21,4,5,-122.417710,37.784236
10,16,17,13,6,2,21,4,4,-122.429184,37.786660
11,21,3,6,1,3,4,0,5,-122.386205,37.731379
12,32,20,11,0,4,4,6,0,-122.469629,37.780768
13,1,15,21,0,10,9,8,5,-122.490136,37.731143
14,7,13,20,8,3,4,9,4,-122.416330,37.781495
15,16,4,18,8,9,21,1,6,-122.410722,37.787097
16,7,11,3,9,0,6,5,2,-122.458680,37.748155
17,33,22,25,7,4,21,3,3,-122.421582,37.761701
18,19,0,17,9,6,21,5,3,-122.441394,37.771727
19,21,2,6,8,0,21,7,3,-122.411612,37.773768
20,20,7,25,10,10,21,5,5,-122.450242,37.770054
21,1,9,24,5,11,21,7,6,-122.393111,37.777310
22,8,2,9,7,5,21,7,3,-122.397389,37.782554
23,20,10,2,2,0,21,3,1,-122.431096,37.754748
24,21,10,22,1,4,21,3,0,-122.422668,37.766557
25,34,12,7,6,0,21,9,5,-122.409849,37.783276
26,16,12,9,6,1,21,7,2,-122.403405,37.775421
27,24,14,15,10,9,21,7,0,-122.393111,37.777310
28,33,15,6,8,0,4,4,3,-122.424998,37.802732
29,16,8,14,11,4,21,7,2,-122.412515,37.780478
...,...,...,...,...,...,...,...,...,...,...
867843,16,17,16,6,7,21,4,2,-122.421893,37.800673
867844,21,22,27,10,9,21,1,6,-122.416011,37.788227
867845,7,18,8,6,9,21,1,1,-122.417673,37.788124
867846,19,17,10,2,9,4,6,3,-122.492903,37.774963
867847,16,16,26,11,10,21,3,0,-122.431172,37.755543
867848,7,19,1,2,1,4,3,5,-122.406539,37.756486
867849,33,16,20,8,9,21,9,0,-122.410769,37.783215
867850,13,9,10,4,1,21,1,5,-122.406182,37.789477
867851,7,22,2,10,7,4,2,6,-122.407863,37.712628
867852,16,18,9,2,2,4,6,4,-122.465492,37.783856
867853,20,11,1,11,7,21,2,4,-122.427240,37.730792
867854,20,12,19,2,1,21,9,2,-122.410509,37.786043
867855,16,10,7,6,11,21,9,5,-122.415642,37.778832
867856,30,10,21,9,7,21,0,0,-122.397085,37.730621
867857,21,8,27,9,11,21,3,5,-122.427242,37.761412
867858,15,18,28,6,8,21,2,0,-122.437068,37.722760
867859,32,7,29,9,9,21,7,5,-122.402740,37.786880
867860,16,0,20,0,10,21,3,1,-122.420814,37.753703
867861,21,8,17,2,11,4,8,5,-122.481305,37.747461
867862,16,14,7,0,5,21,1,5,-122.422199,37.806435
867863,16,15,21,6,10,21,7,1,-122.396305,37.793257
867864,21,19,20,7,11,21,7,4,-122.412515,37.780478
867865,20,14,21,11,1,21,9,6,-122.414056,37.782793
867866,16,12,15,10,10,4,6,2,-122.510496,37.779732
867867,7,10,23,2,3,21,4,0,-122.431765,37.778631
867868,16,17,13,10,8,21,9,1,-122.405895,37.786734
867869,26,22,8,3,7,21,7,0,-122.396759,37.773173
867870,16,22,9,7,10,21,3,2,-122.426956,37.769247
867871,21,5,3,10,2,21,0,0,-122.386942,37.754168
867872,16,12,29,8,10,21,7,1,-122.408068,37.783992

In [ ]:
# Our brains are very good at spotting patterns on pictures, but you may need to play around 
# with visualization parameters to make the patterns stand out.
fig = df.plot(kind="scatter", x="Category", y="District", alpha=0.3, s=df.groupby(['Category','District']).count()/100, 
                   figsize=(13,9), label="population") 



plt.show()