In [67]:
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

import pandas as pd
pd.options.display.max_columns = 100

from matplotlib import pyplot as plt
import numpy as np

import seaborn as sns
sns.set(rc={'figure.figsize':(12,9)})
import pylab as plot
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss,accuracy_score

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x0000028568E78668>>
Traceback (most recent call last):
  File "C:\anaconda\lib\site-packages\xgboost\core.py", line 366, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'
Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x0000028568E78D68>>
Traceback (most recent call last):
  File "C:\anaconda\lib\site-packages\xgboost\core.py", line 366, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

In [68]:
from xgboost import XGBClassifier
import xgboost as xgb

In [116]:
#for scaling
from sklearn.preprocessing import StandardScaler

Importing training dataset

In [69]:
data = pd.read_csv('./train.csv')

In [70]:
print(data.shape)

(867873, 10)

In [71]:
data.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y', 'Id'],
      dtype='object')

Splitting the "Dates" into date and time

In [72]:
df=data
datetime=df.Dates.str.split(pat=" ",expand=True)
datetime.columns=['Date','Time']
#datetime

In [73]:
Date=datetime.Date.str.split(pat="-",expand=True)
Date.columns=['Year','Month','Day']

Time=datetime.Time.str.split(pat=":",expand=True)
Time.columns=['Hour','Minute','Second']

Dropping the column of "Dates" and appending the dataframe "datetime"

In [74]:
df=pd.concat([df,Date,Time],axis=1)
#df

In [75]:
df=df.drop(labels=['Dates'],axis=1)

# #Encoding

In [76]:
df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'PdDistrict', 'Resolution',
       'Address', 'X', 'Y', 'Id', 'Year', 'Month', 'Day', 'Hour', 'Minute',
       'Second'],
      dtype='object')

LabelEncoding of "DayOfWeek" and "PdDistrict"

In [77]:
le = preprocessing.LabelEncoder()

In [78]:
#y=pd.get_dummies(df.Category,columns=['Category'],prefix=" ",prefix_sep=" ",drop_first=True,)

le_res=le.fit_transform(df['Category'])
y=pd.DataFrame(le_res)
y.columns=['Category']
#y

# Address splitting

In [79]:
address=pd.DataFrame(df['Address'],columns=['Address'])
address=address.Address.str.split(pat=" / ",expand=True )
address.columns=['Intr1','Intr2']

In [80]:
df=df.drop(labels=['Address'],axis=1)

In [81]:
temp=address['Intr1'].astype(str).str[-2:]
New_Address=pd.DataFrame(temp)
df=pd.concat([New_Address,df],axis=1)
#df

In [82]:
Id=df['Id']
df=df.drop(['Descript','Category','Resolution','Id','Minute','Second'],axis=1)

In [83]:

#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['DayOfWeek'])

Label Encoding :DayOfWeek

In [84]:

le_res
Day=pd.DataFrame(le_res)
Day.columns=['DayOfWeek']
df=df.drop(labels=['DayOfWeek'],axis=1)

In [85]:
df=pd.concat([Day,df],axis=1)

In [86]:
data['PdDistrict'].unique()

array(['MISSION', 'SOUTHERN', 'BAYVIEW', 'CENTRAL', 'INGLESIDE',
       'NORTHERN', 'RICHMOND', 'TARAVAL', 'TENDERLOIN', 'PARK'],
      dtype=object)

In [87]:
df.columns

Index(['DayOfWeek', 'Intr1', 'PdDistrict', 'X', 'Y', 'Year', 'Month', 'Day',
       'Hour'],
      dtype='object')

Label Encoding: PdDistrict

In [88]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['PdDistrict'])
District=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
District.columns=['District']
df=df.drop(labels=['PdDistrict'],axis=1)
df=pd.concat([District,df],axis=1)

Label encoding : Address

In [89]:
le_res=le.fit_transform(df['Intr1'])
Address=pd.DataFrame(le_res)
Address.columns=['Address']
df=df.drop(labels=['Intr1'],axis=1)
df=pd.concat([Address,df],axis=1)

In [90]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Year'])
Year=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Year.columns=['Year']
df=df.drop(labels=['Year'],axis=1)
df=pd.concat([Year,df],axis=1)

In [91]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Month'])
Month=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Month.columns=['Month']
df=df.drop(labels=['Month'],axis=1)
df=pd.concat([Month,df],axis=1)

In [92]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Day'])
Day=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Day.columns=['Day']
df=df.drop(labels=['Day'],axis=1)
df=pd.concat([Day,df],axis=1)

In [93]:
#le = preprocessing.LabelEncoder()
le_res=le.fit_transform(df['Hour'])
Hour=pd.DataFrame(le_res)

#District=pd.get_dummies(df['PdDistrict'],drop_first=True)
Hour.columns=['Hour']
df=df.drop(labels=['Hour'],axis=1)
df=pd.concat([Hour,df],axis=1)

# Scaling longitude and latitude

In [122]:

scaler=StandardScaler(copy=True, with_mean=True, with_std=True)
lt_res=scaler.fit_transform([df['X']])
Longitude=pd.DataFrame(lt_res,)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,867823,867824,867825,867826,867827,867828,867829,867830,867831,867832,867833,867834,867835,867836,867837,867838,867839,867840,867841,867842,867843,867844,867845,867846,867847,867848,867849,867850,867851,867852,867853,867854,867855,867856,867857,867858,867859,867860,867861,867862,867863,867864,867865,867866,867867,867868,867869,867870,867871,867872
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

36 Crime Category are there

# Applying different Models

In [94]:
#Independent Column
X=df
X.shape

(867873, 9)

In [95]:
#Dependent column
y.shape

(867873, 1)

In [96]:
#splitting the dataset into the training set and test set
#from sklearn import model_selection as ms

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [97]:
"""from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_tranform(X_train)
X_test=sc_X.transform(X_test)"""

'from sklearn.preprocessing import StandardScaler\nsc_X=StandardScaler()\nX_train=sc_X.fit_tranform(X_train)\nX_test=sc_X.transform(X_test)'

# Logistic Regression

Feature scaling

In [98]:
from sklearn.linear_model import LogisticRegression
#weight={Address:3,District:3,X:1,Day:2}
#weight={LARCENY/THEFT:35}
classifier = LogisticRegression(penalty='l2',random_state = 0,class_weight='balanced',multi_class='multinomial', solver='lbfgs',n_jobs=-1)
classifier.fit(X_train,y_train)
# Applying k-Fold Cross Validation
"""from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X=df , y=y , cv = 10,n_jobs=-1)
print("Logistic Regression:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std(),"\n")
"""

'from sklearn.model_selection import cross_val_score\naccuracies = cross_val_score(estimator = classifier, X=df , y=y , cv = 10,n_jobs=-1)\nprint("Logistic Regression:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std(),"\n")\n'

In [99]:
#predicting the Test set result
y_pred=classifier.predict_proba(X_test)

In [100]:
# y_test=np.array(y_pred)
# y_pred

In [101]:
type(y_test)

pandas.core.frame.DataFrame

In [102]:
X_train.columns

Index(['Hour', 'Day', 'Month', 'Year', 'Address', 'District', 'DayOfWeek', 'X',
       'Y'],
      dtype='object')

In [103]:
# def logloss(y_true, y_pred, eps=1e-15):
#     y_pred = np.clip(y_pred, eps, 1 - eps)
#     return -(y_true * np.log(y_pred)).sum(axis=1).mean()
ll = log_loss(y_test,y_pred)
ll

3.5351830522637937

# XGBoost Model

In [104]:
X.head()

   Hour  Day  Month  Year  Address  District  DayOfWeek           X          Y
0    17   27      5    10       21         3          0 -122.419331  37.762264
1     2   18      1     1       21         7          4 -122.411340  37.781271
2     0   13     10     4       21         7          6 -122.403405  37.775421
3    18   26     11     4        4         0          4 -122.404715  37.730161
4    17    8      8     9       21         7          3 -122.405239  37.785265

In [108]:
model = xgb.XGBClassifier(objective='multi:softprob')
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [109]:
y_pred=model.predict_proba(X_test)

In [110]:
print (log_loss(y_test,y_pred));

2.4825743596979577